@mixin base($sizes, $colors) {
  html,
  body {
    height: 100%;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: map-get($sizes, font-size);
    font-family: map-get($sizes, font-family);
    color: map-get($colors, color-text-primary);
    background-color: map-get($colors, color-page-background);
  }

  .body-container {
    padding: 7.7rem 24rem;
  }
}

img {
  height: 100%;
  width: 100%;
}
