@use "../../public" as *;

@mixin base($sizes, $colors) {
  html,
  body {
    height: 100%;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: map-get($sizes, font-size);
    font-family: map-get($sizes, font-family);
    color: map-get($colors, color-text-primary);
    background-color: map-get($colors, color-page-background);
  }

  .body-container {
    padding: 7.7rem 2rem;
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  img {
    height: 100%;
    width: 100%;
  }

  @include small-tablets {
    .body-container {
      flex-direction: column;
      align-items: inherit;
    }
  }
}
