$colors: (
  color-primary: #29057e,
  color-secondary: #b52f8f,
  color-tertiary: #ffffff,
  color-focus: #81c4ec,
  color-text-primary: #3c3c3c,
  color-text-secondary: #28057f,
  color-text-tertiary: #cf1c1c,
  color-page-background: #f2f2f2,
);
