$sizes: (
  font-size-small: 1.4rem,
  font-size: 1.6rem,
  font-size-large: 2rem,
  font-size-x-large: 2.2rem,
  font-size-xl-large: 3rem,
  font-size-extra-large: 3.2rem,
  font-weight: 400,
  font-weight-bold: 700,
  font-family: (
    "Proxima Nova",
    Arial,
    Helvetica,
    sans-serif,
  ),
  line-height: 1.25,
  border-radius: 1rem,
  btn-border-radius: 0.4rem,
  thumbnail-border-radius: 0.5rem,
  border-width: 0.2rem,
  padding-btn: 0.9rem,
  padding: 1.6rem,
  padding-medium: 1.8rem,
  padding-large: 2.2rem,
  padding-x-large: 3.2rem,
  padding-xxl-large: 7.2rem,
  transition-duration: 250ms,
  icon-size: 1.5rem,
  cart-item-counter-size: 0.9rem,
);
